[Desktop Entry]
Actions=new-empty-window
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined. AI-powered.
Exec=appimage-run '/extra/nrd/Binaries/cursor.AppImage' %F
GenericName=Text Editor
Icon=vscode
Keywords=vscode cursor
Name=Cursor
StartupNotify=true
StartupWMClass=Cursor
Type=Application
Version=1.4

[Desktop Action new-empty-window]
Exec=appimage-run '/extra/nrd/Binaries/cursor.AppImage' --new-window %F
Icon=vscode
Name=New Empty Window
