[Desktop Entry]
0=r
1=e
2=s
3=o
4=u
5=r
6=c
7=e
8=s
9=/
10=f
11=i
12=g
13=m
14=a
15=-
16=l
17=i
18=n
19=u
20=x
21=-
22=a
23=p
24=p
25=i
26=m
27=a
28=g
29=e
30=.
31=d
32=e
33=s
34=k
35=t
36=o
37=p
Name=figma-linux
Exec=appimage-run '/extra/nrd/Binaries/figma linux.AppImage'
Terminal=false
Type=Application
Icon=figma-linux
StartupWMClass=figma-linux
X-AppImage-Version=0.11.3
Comment=Unofficial desktop application for linux
MimeType=x-scheme-handler/figma;
Categories=Graphics;
